*{
    margin: 0;
    padding: 0;
}

.hero{
    text-align: center;
    color: red;
    border: 2px solid black;
    width: 80%;
    height: 60px;
    margin: auto;
    background-color: aliceblue;
    }
.hero:hover{
    color: blue;
}

.logo{
    font-size: 30px;
    font-family: fantasy;
    /* background-image: linear-gradient(white,black); */
    width: 100%;
    margin-top: 10px;
    color: orangered;
    margin-left: 20px;
}

.navbar{
    background-color: rgb(60, 199, 199);
    height: 50px;
    width: 100%;
    display: flex;
}

.nav-link {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 20px;
    margin-left: 50%;
    width: 100%;
}

.nav-link li {
    margin-top: 15px;
}

.nav-link li a{
    text-decoration: none;

}

.container{
    display: flex;
    justify-content: space-evenly;
}

.card{
    border: 2px solid black;
    height: 300px;
    width: 300px;
    background-image: linear-gradient(pink,aliceblue);
}